/* set standard behaviors */


html {
    

    
}
body {

	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background: rgb(237, 237, 237) !important;
}
.wrapper {
    margin: auto;
    width: 90vw;
}
aside,
footer,
section {
	display: block;
	margin: 0;
	padding: 1.25rem;
}
main {

}
nav{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.header {
    display: block;
	margin: 0;

}
.menu {}

.feature {
    flex: 1;
    background: rgb(255, 255, 255);
    min-width: 55%;
    margin: 1rem 1rem 1rem 1rem;
    padding: 6vh;

}
.sidebar {
    background: rgb(255, 255, 255);
    margin: 1rem 1rem 1rem 1rem;
    padding: 6vh;

}
#logo {
    width: 20vh;
    height: 7vh;
    background: rgb(10,172,165);
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 2em;
  }

.footer2 {
    background: #666666;
    border-top:5px solid rgb(10,172,165);
    color: #fff !important;
}

  .flex-grid {
    display: flex;
    flex-wrap: wrap;
  }
.grid-item {
    flex: 1 1 calc(100% - 50px);
    max-width: 45%;
    margin: 0.5rem;

  }


  /* typography */

  h1,h2,h3 {
    color: rgb(10,172,165)
}
#logo {
  background: rgb(10,172,165);
  color: #fff;
  margin-left: 7vw;

}
.img-home{ 
    float: left;
    vertical-align: top;
    width: 300px;
    margin-right:10px;
    margin-bottom: 10px;
  }
.img-sidebar {
    margin:1vh;
}
  .spacing {

    padding-top: 4vh;;
  }

.selected {
    border: 3px solid rgb(10,172,165) !important;
    
}
  /* media queries for responsiveness */

  

  @media screen and (max-width: 1100px) {
	.flex-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .feature {   
        margin: 2rem 2em 2rem 2rem;

    }
    .sidebar {
        margin: 2rem 2rem 2rem 2rem;
        
    }
 
    .flex-c { display: flex; flex-flow: column; }
    .item-c { flex: 1; }
}
@media screen and (max-width: 540px) {
	.flex-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    nav {      background: rgb(10,172,165);
;
    }
    .feature {   
        margin: 2rem 2em 2rem 2rem;

    }
    .sidebar {
        margin: 2rem 2rem 2rem 2rem;
        
    }
 

}


